# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [2]:
# Load and view first few lines of dataset
import pandas as pd

df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender

In [10]:
# Proportion of students that are female
# Proportion of students that are male
df.groupby('gender').count()['admitted']/df.count()['admitted']

gender
female    0.514
male      0.486
Name: admitted, dtype: float64

In [16]:
# Admission rate for females
# Admission rate for males
df.groupby(['gender', 'admitted']).count()['major']/df.groupby('gender').count()['admitted']

gender  admitted
female  False       0.712062
        True        0.287938
male    False       0.514403
        True        0.485597
dtype: float64

### Proportion and admission rate for physics majors of each gender

In [21]:
# What proportion of female students are majoring in physics?
# What proportion of male students are majoring in physics?
df.groupby(['gender', 'major']).count()['admitted']/df.groupby('gender').count()['admitted']

gender  major
female  Chemistry    0.879377
        Physics      0.120623
male    Chemistry    0.074074
        Physics      0.925926
Name: admitted, dtype: float64

In [61]:
a = df.groupby(['gender', 'major', 'admitted'])['student_id'].count()
b = df.groupby(['gender', 'major'])['student_id'].count()

In [64]:
merge_df = pd.merge(a.reset_index(), b.reset_index(), on=['gender', 'major'])

   gender      major  admitted  student_id_x  student_id_y
0  female  Chemistry     False           175           226
1  female  Chemistry      True            51           226
2  female    Physics     False             8            31
3  female    Physics      True            23            31
4    male  Chemistry     False            16            18
5    male  Chemistry      True             2            18
6    male    Physics     False           109           225
7    male    Physics      True           116           225

In [72]:
# Admission rate for male / female physics majors
merge_df['ratio'] = merge_df['student_id_x']/merge_df['student_id_y']
merge_df

   gender      major  admitted  student_id_x  student_id_y     ratio
0  female  Chemistry     False           175           226  0.774336
1  female  Chemistry      True            51           226  0.225664
2  female    Physics     False             8            31  0.258065
3  female    Physics      True            23            31  0.741935
4    male  Chemistry     False            16            18  0.888889
5    male  Chemistry      True             2            18  0.111111
6    male    Physics     False           109           225  0.484444
7    male    Physics      True           116           225  0.515556

### Admission rate for each major

In [81]:
# Admission rate for physics majors
# Admission rate for chemistry majors
df.groupby(['major', 'admitted']).count()['student_id']/df.groupby(['major']).count()['student_id']

major      admitted
Chemistry  False       0.782787
           True        0.217213
Physics    False       0.457031
           True        0.542969
Name: student_id, dtype: float64